@model HIS.Models.StudentDto


@{
    ViewBag.Title = "AddStudent";
}


<div class="" style="width:100%;padding:10px;">
    <div class="row">

        <div class="col-md-12">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Add Student </h3>
                </div>

                @using (Html.BeginForm("AddStudent", "Student", FormMethod.Post))
                {
                    <div class="form-group col-md-12">
                        <label for="exampleInputPassword1">Student</label>
                        @Html.DropDownListFor(x => x.studentobj.StudentRegId, Model.studentlist, "Select Student", new { @class = "form-control" })
                    </div>

                    <div class="form-group col-md-12">
                        <label for="exampleInputPassword1">Subject</label>
                        @Html.DropDownListFor(x => x.studentobj.SubjectId, Model.sublist, "Select Subject", new { @class = "form-control" })
                    </div>

                    <div class="form-group col-md-12">
                        <label for="exampleInputPassword1">Marks</label>
                        @Html.TextBoxFor(m => m.studentobj.Marks, new { placeholder = "Marks", @class = "form-control" })
                    </div>

                    <div style="text-align:center">
                        <input type="submit" value="Save" class="btn-group-lg  btn-dark" />
                    </div>


                }


            </div>
        </div>
    </div>
</div>




@*<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>

    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>*@

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
        debugger;
            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>
}  